<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>IncidenRegistry</title>
</head>
<body>
<h1>Lista de IncidenRegistry</h1>
<table>
    <tr>
        <th>id</th>
        <th>Fecha</th>
        <th>Razon</th>
        <th>Cuantificacion</th>
    </tr>
    <tr th:each="inci:${incidenRegistries}">
        <td th:text="${inci.id}">123</td>
        <td th:text="${inci.date}">123</td>
        <td th:text="${inci.reason}">Jhon</td>
        <td th:text="${inci.cuantificacion}">Doe</td>
    </tr>
</table>

</body>
</html>