<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Incident</title>
</head>
<body>
<h1>Lista de Incident</h1>
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Code</th>
    </tr>
    <tr th:each="ins:${incidents}">
        <td th:text="${ins.id}">123</td>
        <td th:text="${ins.name}">Jhon</td>
        <td th:text="${ins.code}">Doe</td>
    </tr>
</table>

</body>
</html>