<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Inventory</title>
</head>
<body>
<h1>Lista de Inventory</h1>
<table>
    <tr>
        <th>id</th>
        <th>Cantidad</th>
        <th>Estado</th>
    </tr>
    <tr th:each="inv:${inventories}">
        <td th:text="${inv.id}">123</td>
        <td th:text="${inv.quantity}">Jhon</td>
        <td th:text="${inv.status}">Doe</td>
    </tr>
</table>

</body>
</html>