<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Training</title>
</head>
<body>
<h1>Lista de Training</h1>
<table>
    <tr>
        <th>id</th>
        <th>Skill</th>
        <th>Date</th>
        <th>Area</th>
        <th>Position</th>
    </tr>
    <tr th:each="train:${trainings}">
        <td th:text="${train.id}">123</td>
        <td th:text="${train.skill}">Jhon</td>
        <td th:text="${train.date}">Doe</td>
        <td th:text="${train.area}">Doe</td>
        <td th:text="${train.position}">Doe</td>
    </tr>
</table>

</body>
</html>